@page "/"
@using BlazorNexsus.Navigation.Abstractions
@inject INavigationManager<Routes> _navigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="() => _navigationManager.Go(Routes.CounterPage)">Go Counter With Back Option</button>
<button @onclick="() => _navigationManager.Go(Routes.CounterPage, _navigationManager.CurrentPage)">Go Counter With Back Option</button>
<button @onclick="OpenCounterPage">Go Counter With Back Option</button>
                            
                            
 @code{
     void OpenCounterPage()
     {
         _navigationManager.Go(Routes.CounterPage,
             _navigationManager.CurrentPage,
             null,
             new() {{"param", "value"}});
     } 
}