@page "/"
@using BlazorNexsus.Navigation.Abstractions
@using BlazorNexsus.Navigation.Models
@inject INavigationManager<Routes> _navigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="() => _navigationManager.Go(Routes.CounterPage,new NexusNavigationOptions<Routes>{BackPage = Routes.HomePage} )">Go Counter With Back Option</button>
<button @onclick="() => _navigationManager.Go(Routes.CounterPage)">Go Counter</button>
<button @onclick="() => _navigationManager.Go(Routes.CounterPage,true)">Go Counter on new tab</button>